body {
    display: flex;
    width: 98%;
    height: 92vh;
    /*background-color: rgba(107, 107, 107, 0.3);*/
    background-image: url("images/bg1.png");
    /*background: linear-gradient(150deg, #302ddd 10% ,#1d1b8d 30%, #3d23cf 80%  );*/
    background-size: cover;
    justify-content: center;
    align-items: center;
}
.circles-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden; /* Verbergt alles buiten de grenzen */
    /*background: linear-gradient(135deg, #ff9a9e, #fad0c4);*/
    z-index: -1;
  }
@keyframes moveCircles {
    0% { transform: translateY(0) translateX(0); }
    50% { transform: translateY(400px) translateX(-160px); }
    100% { transform: translateY(0) translateX(0); }
}

.circle {   
position: absolute;
/*width: 120px;
height: 120px;*/
background: rgba(255, 255, 255, 0.2);
border-radius: 50%;
animation: moveCircles infinite alternate ease-in-out;
}
.circle:nth-child(1) { top: 320px; right: 200px; animation-duration: 25s; width: 60px; height: 60px;}
.circle:nth-child(2) { top: 400px; left: 150px; animation-duration: 29s; width: 120px; height: 120px;}
.circle:nth-child(3) { top: 275px; right: 200px; animation-duration: 35s; width: 80px; height: 80px;}
.circle:nth-child(4) { top: 170px; right: 230px; animation-duration: 28s; width: 120px; height: 120px;}
.circle:nth-child(5) { top: 120px; left: 200px; animation-duration: 33s; width: 100px; height: 100px;}
.circle:nth-child(6) { top: 370px; right: 430px; animation-duration: 28s; width: 200px; height: 200px; background: #fad0c485;}
.circle:nth-child(7) { top: 450px; left: 200px; animation-duration: 31s; width: 100px; height: 100px; background: #fad0c485;}
.numClock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 4em;
    /*position: absolute;
    top: 2%;
    left: 700px;*/
    width: 300px;
    height: 100px;
    background: linear-gradient(150deg, #8a8aa1 10% ,#020207 30%, #414141 80%  );
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
  
#numClock {
    font-family: Arial, sans-serif;
    font-size: 3rem;
    color: #9e9e9e;
    font-weight: bold;
}
.p1 {
    position: relative;
    width: 385px;
    height: 385px;
    border-radius: 50%;
    padding: 50px;
    background-color: rgba(133, 133, 133, 0.8);
    /*background: linear-gradient(to right,rgb(58, 17, 243),rgb(86, 56, 170));*/
    box-shadow: 0px 0px 20px black;
    /*overflow: hidden;*/

}
.p2 {
    position: absolute;
    top: 11%;
    left: 11%;
    width: 380px;
    height: 380px;
    border-radius: 50%;
    /*border: 1px solid white;*/
    z-index: 1;
}
.streep {
    position: absolute;
    top: 50%;
    border-bottom: 2px solid rgb(0, 0, 0);
    width: 100%;
}
.streep:nth-of-type(5n+2) {
    border-bottom: 5px solid rgb(0, 0, 0);
}
.p3 {
    position: absolute;
    top: 4%;
    left: 4%;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgb(114, 114, 114);
    background: radial-gradient(circle,rgb(207, 207, 207),rgb(0, 0, 0));
    z-index: 1;
}
.number {
    position: absolute;
    font-size: 2.4rem;
    color: rgb(0, 0, 0);
    font-weight: bold;
    width: 45px;
    /*border: 1px solid rgb(157, 142, 197);
    border-radius: 50%;*/
    text-align: center;
}
.centre1 {
    position: absolute;
    top: 48.5%;
    left: 50%;
    padding: 2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(99, 99, 99);
    transform: translateX(-50%);
    z-index: 1;
}   
.centre2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgb(31, 31, 31);
    z-index: 1;
}
.aiguilles {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform-origin: 0%;
    transform: rotate(-90deg);
    /*transition-timing-function: ease-in-out;
    transition: transform 0.5s;*/
}
.heure {
    width: 30%;
    height: 10px;
    background: linear-gradient(to left,rgb(36, 36, 36),rgb(153, 153, 153));
    /*z-index: 1;*/
}
.minute {
    width: 40%;
    height: 10px;
    background: linear-gradient(to left,rgb(41, 41, 41),rgb(143, 143, 143));
    /*z-index: 2;*/
}
.seconde {
    width: 50%;
    height: 3px;
    background: rgba(197, 0, 0, 0.6);
    /*z-index: 3;*/
}    
@keyframes rot3 {
    from{
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}
@keyframes rot2 {
    from{
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}
@keyframes rot1 {
    from{
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}
.button-container {
    display: flex;
    gap: 20px;
}
#start {
    top: 5%;
    left: 400px;
}
#pauze {
    top: 5%;
    left: 550px;
}
#stop {
    top: 5%;
    left: 700px;
}
.button {
background: linear-gradient(135deg, #535353, #5a5a5a);
color: rgb(219, 219, 219);
padding: 15px 30px;
text-transform: uppercase;
font-size: 16px;

border: none;
border-radius: 10px;
position: absolute;
overflow: hidden;
transition: transform 0.3s ease;
cursor: pointer;
}
.button::before {
content: '';
position: absolute;
top: 0;
left: -75%;
width: 100%;
height: 100%;
background: rgba(255, 255, 255, 0.3);
transform: skewX(-19deg);
transition: left 0.5s ease;
}
.button:hover::before {
left: 150%;
}
.button:hover {
transform: scale(1.05);
}
.keuze-modus {
    
    position: absolute;
    top: 15%;
    left: 400px;
    color: rgb(160, 160, 160);
}
label {
    cursor: pointer;
    padding: 0.9em;
}
label:hover {
    text-decoration: underline;
}
body::before,
body::after {
    content: "";
    position: absolute;
    background: #fad0c4;
    border-radius: 50%;
    opacity: 0.5;
}
body::before {
    width: 200px;
    height: 200px;
    top: 50px;
    left: 20px;
}
body::after {
    width: 100px;
    height: 100px;
    top: 270px;
    right: 200px;
}
/*.button-1 {
background-color: #4CAF50;
color: white;
border: none;
padding: 15px 30px;
text-transform: uppercase;
font-size: 16px;
border-radius: 50px;
transition: background-color 0.3s ease, box-shadow 0.3s ease;
cursor: pointer;
}

.button-1:hover {
background-color: #45a049;
box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}*/