* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body { 
    margin: 20px;
    background: gray;
    color: #e2e2e2;
}
header {
    background-color: rgb(146, 39, 48);
    padding: 10px;
    text-align: center;
    color: #f1f1f1;
    border-radius: 5px;
}
.fields {
    padding: 20px;
    color: #1e1e1e;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.fields select {
    margin-inline: 5px;
    padding: 5px 20px;
    border: 1px solid black;
    border-radius: 5px;
}
/* Style a label as a button */
.custom-file-label {
    margin-inline: 5px;
    font-size: 0.9em;
    padding: 5px 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #e7e7e7;
    color: #292929;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    align-content: center;
}
.fields button {
    font-size: 1rem;
    margin-inline: 5px;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #dfca53;
    color: #000000;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.fields button:hover {
    background-color: rgb(39, 39, 39);
    color: white;
}
.flex-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.span-container {
    align-content: center;
    color: #f9f9f9;
}
#applyFilter {
    padding: 5px 10px;
    border: 1px solid rgb(170, 170, 170);
    background-color: #ffffff;
    color: #000000;
}
.custom-file-label:hover {
    background-color: rgb(221, 221, 221);
    border: 1px solid transparent;
    /*color: white;*/
}
#searchInput {
    padding-inline: 10px;
    margin-inline: 5px;
}
table { 
    border-collapse: collapse; width: 100%;
    font-size: 12px; 
    background: #e2e2e2;
    color: #727272;
}
th, td { border: 1px solid #ccc; padding: 6px; text-align: left; }
th { 
    position: sticky;
    top: 0px;
    background-color: #292929;
    color: rgb(255, 255, 255);
    white-space: nowrap; /* voorkomt afbreken van kolomnamen */
    cursor: default;
 }
 td {
    white-space: nowrap;
 }
tr:nth-child(even) { background-color: #cfcfcf; }

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 250px;
    border: 1px solid #ccc;
    z-index: 1;
    padding: 10px;
}
.checkbox-list {
    max-height: 500px;
  overflow-y: auto;
}
.sort-arrow {
    display: none;
}
.dropdown-footer {
  border-top: 1px solid #ddd;
  padding: 10px;
  background: #f9f9f9;
  text-align: right;
}
.dropdown-content label {
    display: block;
    margin-bottom: 5px;
}
.dropdown.open .dropdown-content {
    display: block;
}
